:root
{
    --primary-color:#C89595;
    --secondary-color:#EDEDED;
    --third-color:#6C4A4A;
    --dark-gray-color:#323232;
}

body
{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navimg
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: auto;
}

h1,h2,h3,h4,h5,h6
{
    color:var(--secondary-color)

}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer
{
    background: var(--dark-gray-color);
    padding-right: 1rem;
}
footer>p
{
    color:#9f34ff;

}
.color
{
    color:#9f34ff;
}

.icon
{
    font-size: 22px;
}
.icon a
{
    color:#9f34ff;
}
.icon a:hover
{
    color:var(--secondary-color);
}

#imgp
{
    margin: 0;
}

.checklist
{
    list-style: none;
}
.checklist span
{
    color:var(--secondary-color)
}

code[class*="language-"], pre[class*="language-"]
{
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.tecnology
{
    color:var(--secondary-color);
    font-size: 3em;

}
#alert
{
    background: var(--secondary-color);
}

.methodscolor
{
    color: var(--secondary-color);
}

.position
{
    margin-top: 7em;
}

.h5custumcolor
{
    color: lightgray;
}